@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$color-primary: #036FDE;
$color-gray: #757575;
$color-white: #FFFFFF;
$color-black: #222222;
$color-light: #F9F9F9;
$color-dark: #181818;